<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"> <!-- Ajoutez throwConfigExceptions="true" pour voir les erreurs de configuration -->

    <targets>
        <target name="logfile" xsi:type="File" fileName="C:\home\LogFiles\nlog-${shortdate}.log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>